/* Header image slide call to action main section */
.demo-wrap {
    overflow: hidden;
    position: relative;
    height: 90vh;
    background-color: #333;
}

.demo-bg {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.demo-content {
    position: relative;
    height: 100%;
}

.main-title {
    font-size: 3rem;
}

/* Card section displayer */
.card-displayer {
    overflow: hidden;
    position: relative;
    height: 400px;
    background-color: #333;
}


.card-product {
    z-index: 0;
    background: rgb(33, 33, 33);
    background: linear-gradient(0deg, rgba(33, 33, 33, 1) 0%, rgba(148, 148, 148, 0) 100%);
    position: relative;
    height: 250px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.card-product:hover {
    transform: translateY(-5px);
    transition: all ease 0.3s;
}

.card-bg {
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.card-content {
    position: relative;
    height: 100%;
}


/* Buttons style */

.btn-white {
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 0;
    text-transform: uppercase;
}

.btn-white:hover {
    background-color: rgb(241, 241, 241);
}

.overlay {
    background-color: red;
}

/* ====== */
/* FOOTER */
/* ====== */

.footer {
    color: white;
    width: 100%;
    position: relative;
    height: auto;
    background-color: #070617;
}

.footer ul {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 18px;
}

/* ============ */
/* HEADER STYLE */
/* ============ */

/* Header */
nav {
    display: flex;
    align-items: center;
    padding: 0 5%;
}


.logo {
    flex: 2;
}

.website-title {
    flex: 1;
}

.website-title h1 {
    font-weight: bold;
}

.navigation {
    flex: 2;
    display: flex;
}

.search-bar {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.search-input {
    border: 1px solid rgb(219, 219, 219);
    outline: none;
    padding: 8px 20px;
    border-radius: 100px;
    font-size: 13px;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #F5F5F5;
}

.search-button {
    padding: 6px 20px;
    margin-left: -10px;
    background: none;
    outline: none;
    border: 1px solid rgb(219, 219, 219);
    border-left: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    transition: all ease 0.3s;
    background-color: #F5F5F5;
}

.search-button:hover{
    transition: all ease 0.3s;
    background-color: rgb(227, 227, 227);
}

.navbar-links {
    display: flex;
    flex: 1;
    align-items: center;
}

.navbar-links ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0;
}

.navbar-links ul li {
    margin: 0 10px;
}

.navbar-links ul li a {
    text-decoration: none;
    color: #333;
}



/* ================ */
/* CATEGORIE HEADER */
/* ================ */

.categorie-header{
    display: flex;
    background-color: #f2f2f2;
    padding: 15px 30px;
}

.categorie-navigation-links {
    flex: 1;
}

.categorie-navigation-links ul{
    display: flex;
    flex: 1;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0;
}

.categorie-navigation-links ul li {
    justify-content: center;
    display: flex;
    flex: 1;
}

.categorie-navigation-links ul li a {
    text-decoration: none;
    color: rgb(54, 54, 54);
    font-weight: semi-bold;
    transition: all ease 0.3s;
}

.categorie-navigation-links ul li a:hover{
    color: rgb(0, 0, 0);
    transition: all ease 0.3s;
}

.categorie-navigation-links ul li a svg{
    margin-left: 5px;
}

/* ========================= */
/* DROPDOWN CATEGORIE HEADER */
/* ========================= */
.navigation-dropdown {
    display: none;
    position: absolute;
    top: 180px;
    width: 70vw;
    background-color: #f9f9f9;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 40px 50px;
    min-height: 70vh;
}

/* Dropdown displayer */
.categorie-header:hover .navigation-dropdown{
    display: flex;
}

/* Right side section */
.dropdown-content{
    flex: 3;
}

.dropdown-title {
    font-weight: bold;
    color: #090909;
}

.dropdown-links {
    margin-top: 25px;
}

.page-links{
    list-style: none;
    margin-bottom: 0;
}

.more-action-link{
    list-style: none;
    margin-bottom: 0;
    margin-top: 20px;
}

.dropdown-links .link{
    text-decoration: none;
    color: #333;

    transition: all ease 0.3s;
}

.dropdown-links .link-seemore {
    color: #3389DA;
    font-weight: bold;
}

.dropdown-links .link:hover{
    padding-left: 10px;

    transition: all ease 0.3s;
}

/* Right side image */
.dropdown-image-section {
    flex: 1;
    background-color: green;
}

.dropdown-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}